<div id="body">
    
    <header>
        <img src="../assets/logo.JPG" alt="">
        <div class="left-header">
            <span>+</span>
            <span>|</span>
            <span>ONEA</span>
            <i class="fas fa-user-shield"></i>
        </div>
    </header>
    <div id="container">
        <p>Dashboard</p>
        <!-- <div id="donut-chart">
            <app-donut-chart [title]="Processus"></app-donut-chart>
            <app-donut-chart></app-donut-chart>
            <app-donut-chart></app-donut-chart>
            <app-donut-chart></app-donut-chart>
        </div> -->
        <div id="list-tache">
            <div>
                <app-taches></app-taches>
            </div>
            <div>
                <app-fichiers></app-fichiers>
            </div>
        </div>
    </div>
    
</div>